{% extends 'base.html' %}
{% block content %}
<div align="center">
<br>
    <h2 style='color:brown'>{% block title %}About US{% endblock %}</h2>
    <br>
    <h3 style='color:black'>Group 6 consists of 4 students,
        everyone aided in regards to debugging whenever problems arose. 
    </h3>
    <h3>However, in accordance to job allocation and delegation of tasks, it is summarized below.</h3>    
<br>
    <h2 style='color:brown'>Resposibilities and Job allocation</h3>

<br>
<br>
<h3 style='color:blue'>Dhavalkumar Thanki:</h3>
<h4>- Debugging ML model</h4>
<h4>- Cloud SQL</h4>
<h4>- Google Compute Engine </h4>
<h4>- Google Kubernetes Engine</h4>
<h4>- Continual Integration/Continual Delivery </h4>
<br>

<br>
<h3 style='color:blue'>Anukaran Kathuria:</h3>
<h4>- Data Pipeline for ML model </h4>
<h4>- Cloud SQL</h4>
<h4>- Google Compute Engine </h4>
<h4>- Dockerfile </h4>
<br>

<br>
<h3 style='color:blue'>Mehdi Lamouchi:</h3>
<h4>- Flask Deployment </h4>
<h4>- Debugging ML model</h4>
<br>

<br>
<h3 style='color:blue'>Udbhavsinh Manharsin Solanki:</h3>
<h4>- Flask Deployment </h4>
<br>



</div>
{% endblock %}