{% extends 'base.html' %}
{% block content %}
<div align="center">
<br>
    <h3 style='color:brown'>{% block title %}About US{% endblock %}</h2>
    <br>
    <h3 style='color:black'>Group 6 consists of 4 students that have worked on two parts:</h3>
    <br>
<br>
<h3 style='color:blue'>Machine Learning:</h3>
<h4>- Dhavalkumar Thanki</h4>
<h4>- Anukaran Kathuria</h4>
<br>
<h3 style='color:blue'>Web Development:</h3>
<h4>- Mehdi Lamouchi</h4>
<h4>- Udbhavsinh Manharsin Solanki</h4>
<br>
<h4 style='color:blue'>CLOUD SQL:</h4>
<h4>- Anukaran Kathuria</h4>
<h4>- Dhavalkumar Thanki</h4>

</div>
{% endblock %}