{% extends 'base.html' %}
{% block content %}
<div align="center">
<br>
    <h3 style='color:brown'>{% block title %}About US{% endblock %}</h2>
    <br>
    <h3 style='color:black'>Group 6 consists of 4 students,
        everyone aided in regards to debugging whenever problems arose. However, 
        in accordance to job allocation and delegation of tasks, it is summarized below.  
    </h3>
    <br>
<br>
<h3 style='color:blue'>Machine Learning & Cloud SQL:</h3>
<h4>- Dhavalkumar Thanki</h4>
<h4>- Anukaran Kathuria</h4>
<br>

<h3 style='color:blue'>Google Compute Engine & Google Kubernetes Engine:</h3>
<h4>- Dhavalkumar Thanki</h4>
<br>

<br>
<h3 style='color:blue'>Dockerfile</h3>
<h4>- Anukaran Kathuria</h4>
<br>

<h3 style='color:blue'>Web Development:</h3>
<h4>- Mehdi Lamouchi</h4>
<h4>- Udbhavsinh Manharsin Solanki</h4>
<br>


</div>
{% endblock %}