{% extends 'base.html' %}
{% block content %}
<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
height: 400px;
overflow: auto;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

</style>
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
<div align="center">
<br>

    <h1 style='color:brown'>{% block title %}Retrieve Data from SQl{% endblock %}</h1>
<br>

<br>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for review.." title="Type in a name">
<div>
<form method="post">
<button style="float: left;" >Export to Bucket!</button>
</form>

<a href="../static/data.csv" download>
<a href="https://storage.googleapis.com/group6project/data.csv" download>
<!-- Alternate method to download files using the code in app.py-->
<button style="float: left;" type="submit">Download!</button>
</a>

</div>

<div id="myTable" class="table-wrapper-scroll-y my-custom-scrollbar">

  <table id="myTable" class="table table-bordered table-striped mb-0">
		
					<tr class="header">
						<th style="width:60%;">Rating</th>
						<th style="width:40%;">Review</th>
					</tr>
                        {% for row in myresult %}
                    <tr>                        
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                            {% endfor %}
                    </tr>
        </table>
</div>
</div>
{% endblock %}